node_modules
.env
backend/.env
.env.*

# Next.js build cache
.next/

# Google Cloud credentials
*.json
backend/*.json
backend/aethercare-tqine-5e005e537e8f.json

# Python virtual environment
venv/
/venv/
*.venv
.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Certificate files
*.pem
